*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.settings
.project
.classpath
target
/UML restaurantes famosos.png
/UML_Restaurante_Famosos.png
/UML_Restaurante_Famosos_Ver2.png
/UML_Restaurantes_Famosos.mwb
/UML_Restaurantes_Famosos.mwb.bak
/restaurantesFamosos/
restaurantesFamosos/src/main/java/conexao/ConexaoMysqlProducao.class
