
/* 
.salvar{
	-fx-background-color:
        linear-gradient(#f0ff35, #a9ff00),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
	
}
* 
*/
.menubarprincipal,.submenu{
	
	
	 -fx-background-color: linear-gradient(orange, orangered );
     -fx-border-color: white;

	 -fx-border-radius: 20;

	
	-fx-background-radius: 20;

 
  
}
.labeltitulo{

-fx-font-weight: bold;
  -fx-font-size: 40px;
  -fx-font-family: "Arial";
  -fx-text-align: center;
  -fx-text-fill:#FF4500 ;
 
}
.labelagradecimento{
	fx-font-weight: bold;
  -fx-font-size: 40px;
  -fx-font-family: "Arial";
  -fx-text-align: center;
  -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}
.labelindicador,.esquicisenha{ 
	-fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
	
}
.novo{ 
	-fx-background-color: 
        #c3c4c4,
        linear-gradient(#d6d6d6 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-font-weight: bold;
    -fx-text-fill: black;
     -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );

	
}

	.esquicisenha{
		
		
		-fx-background-color: 
         orangered,
        linear-gradient(orange, orangered ),
        radial-gradient(center 50% -40%, radius 200%,orange 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );

	 
	}
.salvar{
	
	-fx-background-color: 
       #a9ff00
        linear-gradient(#f0ff35, #a9ff00),
        radial-gradient(center 50% -40%, radius 200%, #f0ff35 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-font-weight: bold;
    -fx-text-fill: black;
     -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
	
	
	
}


 .excluir{
 	
 	-fx-background-color: 
         #be1d00,
        linear-gradient(#ff5400, #be1d00),
        radial-gradient(center 50% -40%, radius 200%,#ff5400 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
     
 
}
.labelcadastrausuario{
	-fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
    }
	
	
	.labelrelatorio{
	-fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
	
}
.labelbusca{
	-fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );}
	.labelrelatorio{
	-fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}
.labelcadastravisita{
	-fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}
.labeleditaperfil{	-fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );}
	.tituloreltorio{
		-fx-font-weight: bold;
  -fx-font-size: 20px;
  -fx-font-family: "Arial";
  -fx-text-align: center;
  -fx-text-fill:#FF4500 ;
}
.tituloperfil{
				-fx-font-weight: bold;
  -fx-font-size: 20px;
  -fx-font-family: "Arial";
  -fx-text-align: center;
  -fx-text-fill:#FF4500 ;
}
.tituloperfil2{
					-fx-font-weight: bold;
  -fx-font-size: 10px;
  -fx-font-family: "Arial";
  -fx-text-align: center;
  -fx-text-fill:#FF4500 ;
	
}
.titulocadastravisita{
			-fx-font-weight: bold;
  -fx-font-size: 20px;
  -fx-font-family: "Arial";
  -fx-text-align: center;
  -fx-text-fill:#FF4500 ;
	
}
.labelbuscaavancada{
	-fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
	
}
.date{
	-fx-background-color: linear-gradient(#FF8C00, #FFA500 );
}
.tf{
	-fx-background-color: linear-gradient(#FF8C00, #FFA500);
     -fx-border-color: white;
	 -fx-border-radius: 20;
	 -fx-background-radius: 20;
	  -fx-text-fill:#2F4F4F ;
	  -fx-font-weight: bold;
	  -fx-font-size: 15px;
}
.titulobuscaavancada{
		-fx-font-weight: bold;
  -fx-font-size: 20px;
  -fx-font-family: "Arial";
  -fx-text-align: center;
  -fx-text-fill:#FF4500 ;
	
}
 

.salvar:hover,.novo:hover,.excluir:hover,.esquicisenha:hover{
	-fx-background-color:grey;
	
}
/*
.telaLogin{
 -fx-background-image: url("../imagens/restaurante4.jpg");
   -fx-background-size: cover;
   


}
* 
*/
.telaPrincipal{
 -fx-background-image: url("../imagens/restaurante4.jpg");
   -fx-background-size: cover;
   


}
.labelCadastraRestaurante{
	 -fx-text-fill: red;
}

.root {

	 -fx-background-color:  linear-gradient(lightgray, gray);
	 -fx-border-color: white;

	 -fx-border-radius: 20;

	

	 -fx-background-radius: 20;


	  

	}

	 

	.fundo {

	 -fx-background-color:  linear-gradient(gray,DimGrey );

	  

	}

	 


	 

	.titulotelalogin {
		
	-fx-font-weight: bold;
    
  -fx-font-size: 40px;
  -fx-font-family: "Arial";
  
  

	-fx-fill:  linear-gradient(orange , orangered);
	-fx-animated-infinite : flash;
	}

 
 
      